<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:fragment="header">
    <div class="masthead clearfix" style="width: 100%">
        <div class="container inner">
            <h3 class="masthead-brand">GlowUpGirls</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"> <a href="/">Home</a> </li>
                    <li><a href="/actors">Actors</a> </li>
                    <li><a href="/films">Films</a></li>
                    <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Your account</a> </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/registration">Registration</a> </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin</a> </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>