<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header">
    <div class="masthead clearfix">
        <div class="container inner">
            <h3 class="masthead-brand">Name of Website</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"> <a href="/templates/index.html">Home</a> </li>
                    <li> <a href="/templates/actors.html">Actors</a> </li>
                    <li><a href="/templates/films.html">Films</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="admin-header">
    <div class="masthead clearfix">
        <div class="container inner">
            <h3 class="masthead-brand">Name of website</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"> <a href="#">Home</a> </li>
                    <li> <a href="actors.html">Actors</a> </li>
                    <li><a href="films.html">Films</a></li>
                    <li><a href="registration.html">Films</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>