html,
body {
    height: 100%;
    background-color: #fff;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 600px;
    background-color: #333;

}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.filter {

}

.actor-table {

}

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
}

.availableFilter{
    padding-top: 60px;
}

.films{
    color: black;
    padding-top: 50px;
}

.filmInfo{
    color: black;
    padding-top: 50px;
}
.jumbotron {
    color: black;
}
.rentButton{

}

