<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:include="fragments/header :: header">Error loading header.</div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="content">
            <div class="jumbotron">
                <h1 class="display-4" th:text="${user != null} ? ${'Welcome back, ' + (user.getFirstName().concat(' ' + user.getLastName()).toUpperCase())} : 'Welcome back, CUSTOMER'">Welcome back, CUSTOMER </h1>
            </div>
            <table class="table table-dark table-bordered">
                <tr>
                    <td  th:text="${user != null} ? ${user.getFirstName()} : 'N/A'"></td>
                </tr>
                <tr>
                    <td th:text="${user != null} ? ${user.getLastName()} : 'N/A'"></td>
                </tr>
                <tr>
                    <td th:text="${user != null} ? ${user.getEmail()} : 'N/A'"></td>
                </tr>
                <tr>
                    <td><a th:href="@{update-customer}">Update Account details</a></td>
                </tr>
            </table>
            <form class="form-group" name="orders">
                <table class="table table-dark table-bordered">
                    <tr>
                        <th>Film Title</th>
                        <th>Rental Date</th>
                        <th>Return Date</th>
                    </tr>
                    <tr th:each="rental: ${rentals}">
                        <td th:text="${rental.getFilm().getTitle()}"></td>
                        <td th:text="${rental.getRental().getRentalDate()}"></td>
                        <td th:text="${rental.getRental().getReturnDate()}"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer">Error loading footer</div>
</body>
</html>