<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="content">
            <div class="jumbotron">
                <h1 class="display-4" th:text="${'Welcome, ' + staff.username}">Welcome back, STAFF MEMBER </h1>
            </div>
            <div class="filter">
                <form class="form-group" action="/admin">
                    <label>Filter:</label>
                    <select class="form-control" name="filter">
                        <option>No Filter</option>
                        <option th:each="customer: ${allCustomers}" th:text="${customer.getFirstName()}">
                    </select>
                    <select class="form-control" name="filter2">
                        <option>No Filter</option>
                        <option th:each="customer: ${allCustomers}" th:text="${customer.getLastName()}">
                    </select>
                    <input class="btn-dark btn-lg" type="submit" value="Filter">
                </form>
            </div>
            <div class="customer-table">
                <table class="table table-dark table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Last Updated</th>
                    </tr>
                    <tr th:each="customer: ${customers}">
                        <td >
                            <a th:text="${customer.getFirstName().substring(0,1).concat(customer.getFirstName().substring(1).toLowerCase() + ' ' + customer.getLastName().substring(0,1) + customer.getLastName().substring(1).toLowerCase())}" th:href="@{/admin/{id}(id=${customer.customerId})}"></a>
                        </td>
                        <td th:text="${customer.getLastUpdate()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>