<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:include="fragments/header :: header"> header not found</div>

<h1 style="text-align: center;color: black" th:action="${info}" th:text="${info.title}"></h1>
<div class="filmInfo">
<table>
        <tr >
            <td style="font-weight: bold ">Description</td>
            <td th:text="${info.description}">Film Info</td>
        </tr>
        <tr >
            <td style="font-weight: bold ">Release Year</td>
            <td th:text="${#strings.toString(info.releaseYear).substring(0,4)}">Film Info</td>
        </tr>
    <tr >
        <td style="font-weight: bold ">Rental Duration</td>
        <td th:text="${info.rentalDuration } + ' days'" >Film Info</td>
    </tr>
    <tr >
        <td style="font-weight: bold ">Rental Cost</td>
        <td th:text="'£'+${info.rentalRate}">Film Info</td>
    </tr>
    <tr >
        <td style="font-weight: bold ">Length</td>
        <td th:text="${info.length} + ' minutes'">Film Info</td>
    </tr>
    <tr >
        <td style="font-weight: bold ">Age Rating</td>
        <td th:text="${info.rating}">Film Info</td>
    </tr>
    <tr >
        <td style="font-weight: bold ">Special Features</td>
        <td th:text="${info.specialFeatures}">Film Info</td>
    </tr>
    </table>
</div>
</body>
</html>