<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:include="fragments/header :: header"> header not found</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="inner cover">
                <h1 class="cover-heading">Welcome to the GlowUpGirls movie rental site</h1>
                <p class="lead">Have a cheeky browse of our selection of rentable films and check out the information about different actors</p>
                <p class="lead">Happy browsing!</p>
                <p class="lead">
                    <a th:href="@{/logout}" class="">Logout</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/footer"></div>

</body>
</html>