<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="content">
            <div class="jumbotron">
                <h1 class="display-4" th:text="'Create Customer Account'"></h1>
            </div>
            <p th:if="${error}" class="error">User already exists.</p>
            <form class="form-group" action="#" th:action="@{/registration}" th:object="${customer}" method="post">

                <p>Email: <input type="text" th:field="*{email}" class="form-control"></p>
                <p>First Name: <input type="text" th:field="*{firstName}" class="form-control"></p>
                <p>Last Name: <input type="text" th:field="*{lastName}" class="form-control"></p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>